<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../main.css">
  <title>Books Page</title>
</head>
<h1>Books</h1>

<body style="background-color: grey;">
  <!-- <h1>Books Page</h1>
  <h3>Total Books:______</h3>
  <h3>Filter:</h3> -->
  <!-- <select>
      <option value="Genre">Genre</option>
      <option value="Genre1">Genre1</option>
      <option value="Genre2">Genre2</option>
    </select> -->
  <!-- <h3>Search:</h3> -->
  <!-- <form> -->
  <!-- <input type="text" placeholder="Search (genre)" name="" value=""> -->
  <!-- </form> -->
  <div style="margin: 100px;">
    <% books.forEach((book) => { %>
      <a href="/books/<%= book['id'] %>"><img src="<%= book['cover_url'] %>" alt="<%= book['title'] %>" style="height:250px;width:250px; border:solid"/></a>
      <% }); %>
  </div>
</body>

</html>
