<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <div>
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/books/add">Add Book</a>
    <a href="/authors/add">Add Author</a>
    <h1>Galvanize Reads</h1>
    <!-- <h3>Quick Search</h3> -->
    <form>
      <input type="text" class="form-control" name="#" placeholder="Search (by genre)"><br>
      <button type="submit" class="btn btn-defualt">Submit</button>
    </form>
  </div>
</body>

</html>
